<div class="delete-confirm">
    <a href="javascript:void(0)" class="delete-confirm-btn" (click)="show = true">
        <div #ref><ng-content></ng-content></div>
        <i class="fa fa-trash" *ngIf="ref.childNodes.length == 0"></i>
    </a>
    <div class="delete-confirm-question" *ngIf="show === true">
        <button class='btn-x-sm' (click)='sendCancel()'><i class="fa fa-times"></i></button>
        <button class='btn-x-sm' (click)='sendConfirm()'><i class="fa fa-check"></i></button>
        <span [innerHTML]="question"></span>
    </div>
</div>